# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [18]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from datetime import date

%matplotlib inline

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [19]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('applicants_data.csv',)
)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [21]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [22]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [23]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [24]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [26]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns= enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [28]:
non_categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes!='object'].index)
non_categorical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [29]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[non_categorical_variables], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [30]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [31]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [50]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [33]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [52]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [53]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features +1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [54]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 +1) // 2 

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [55]:
# Create the Sequential model instance
nn = Sequential()

In [56]:
# Add the first hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer1,
        activation='relu',
        input_dim=number_input_features
    )
)

In [43]:
# Add the second hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer2,
        activation='relu'
    )
)

In [57]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

In [58]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 58)                6786

 dense_5 (Dense)             (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [59]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [60]:
# Fit the model using 50 epochs and the training data
nn_model=nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 304us/step - loss: 0.7164 - accuracy: 0.5189
Epoch 2/50
804/804 [==============================] - 0s 290us/step - loss: 0.6983 - accuracy: 0.5280
Epoch 3/50
804/804 [==============================] - 0s 295us/step - loss: 0.6948 - accuracy: 0.5278
Epoch 4/50
804/804 [==============================] - 0s 308us/step - loss: 0.6929 - accuracy: 0.5310
Epoch 5/50
804/804 [==============================] - 0s 305us/step - loss: 0.6921 - accuracy: 0.5321
Epoch 6/50
804/804 [==============================] - 0s 297us/step - loss: 0.6913 - accuracy: 0.5364
Epoch 7/50
804/804 [==============================] - 0s 297us/step - loss: 0.6907 - accuracy: 0.5323
Epoch 8/50
804/804 [==============================] - 0s 304us/step - loss: 0.6903 - accuracy: 0.5348
Epoch 9/50
804/804 [==============================] - 0s 308us/step - loss: 0.6902 - accuracy: 0.5354
Epoch 10/50
804/804 [==============================] - 0s 307us/step - loss: 0.6899 - accuracy: 0.5360
Epoch 11/50
804/804 [==============================] - 0s 301us/step - loss: 0.6894 - accuracy: 0.5353
Epoch 12/50
804/804 [==============================] - 0s 294us/step - loss: 0.6896 - accuracy: 0.5362
Epoch 13/50
804/804 [==============================] - 0s 298us/step - loss: 0.6893 - accuracy: 0.5348
Epoch 14/50
804/804 [==============================] - 0s 318us/step - loss: 0.6890 - accuracy: 0.5378
Epoch 15/50
804/804 [==============================] - 0s 294us/step - loss: 0.6893 - accuracy: 0.5367
Epoch 16/50
804/804 [==============================] - 0s 304us/step - loss: 0.6889 - accuracy: 0.5366
Epoch 17/50
804/804 [==============================] - 0s 299us/step - loss: 0.6888 - accuracy: 0.5381
Epoch 18/50
804/804 [==============================] - 0s 289us/step - loss: 0.6892 - accuracy: 0.5376
Epoch 19/50
804/804 [==============================] - 0s 314us/step - loss: 0.6885 - accuracy: 0.5359
Epoch 20/50
804/804 [==============================] - 0s 441us/step - loss: 0.6885 - accuracy: 0.5397
Epoch 21/50
804/804 [==============================] - 0s 298us/step - loss: 0.6887 - accuracy: 0.5376
Epoch 22/50
804/804 [==============================] - 0s 295us/step - loss: 0.6885 - accuracy: 0.5374
Epoch 23/50
804/804 [==============================] - 0s 296us/step - loss: 0.6887 - accuracy: 0.5371
Epoch 24/50
804/804 [==============================] - 0s 298us/step - loss: 0.6884 - accuracy: 0.5386
Epoch 25/50
804/804 [==============================] - 0s 294us/step - loss: 0.6882 - accuracy: 0.5407
Epoch 26/50
804/804 [==============================] - 0s 293us/step - loss: 0.6879 - accuracy: 0.5387
Epoch 27/50
804/804 [==============================] - 0s 299us/step - loss: 0.6881 - accuracy: 0.5409
Epoch 28/50
804/804 [==============================] - 0s 297us/step - loss: 0.6879 - accuracy: 0.5380
Epoch 29/50
804/804 [==============================] - 0s 295us/step - loss: 0.6880 - accuracy: 0.5376
Epoch 30/50
804/804 [==============================] - 0s 294us/step - loss: 0.6879 - accuracy: 0.5395
Epoch 31/50
804/804 [==============================] - 0s 295us/step - loss: 0.6875 - accuracy: 0.5402
Epoch 32/50
804/804 [==============================] - 0s 295us/step - loss: 0.6874 - accuracy: 0.5416
Epoch 33/50
804/804 [==============================] - 0s 299us/step - loss: 0.6876 - accuracy: 0.5392
Epoch 34/50
804/804 [==============================] - 0s 294us/step - loss: 0.6876 - accuracy: 0.5409
Epoch 35/50
804/804 [==============================] - 0s 297us/step - loss: 0.6873 - accuracy: 0.5410
Epoch 36/50
804/804 [==============================] - 0s 296us/step - loss: 0.6873 - accuracy: 0.5393
Epoch 37/50
804/804 [==============================] - 0s 294us/step - loss: 0.6872 - accuracy: 0.5409
Epoch 38/50
804/804 [==============================] - 0s 293us/step - loss: 0.6871 - accuracy: 0.5427
Epoch 39/50
804/804 [==============================] - 0s 294us/step - loss: 0.6870 - accuracy: 0.5419
Epoch 40/50
804/804 [==============================] - 0s 293us/step - loss: 0.6870 - accuracy: 0.5408
Epoch 41/50
804/804 [==============================] - 0s 296us/step - loss: 0.6871 - accuracy: 0.5431
Epoch 42/50
804/804 [==============================] - 0s 292us/step - loss: 0.6866 - accuracy: 0.5409
Epoch 43/50
804/804 [==============================] - 0s 294us/step - loss: 0.6868 - accuracy: 0.5396
Epoch 44/50
804/804 [==============================] - 0s 293us/step - loss: 0.6868 - accuracy: 0.5393
Epoch 45/50
804/804 [==============================] - 0s 294us/step - loss: 0.6883 - accuracy: 0.5421
Epoch 46/50
804/804 [==============================] - 0s 291us/step - loss: 0.6863 - accuracy: 0.5432
Epoch 47/50
804/804 [==============================] - 0s 293us/step - loss: 0.6862 - accuracy: 0.5432
Epoch 48/50
804/804 [==============================] - 0s 295us/step - loss: 0.6863 - accuracy: 0.5420
Epoch 49/50
804/804 [==============================] - 0s 295us/step - loss: 0.6864 - accuracy: 0.5421
Epoch 50/50
804/804 [==============================] - 0s 294us/step - loss: 0.6868 - accuracy: 0.5431

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [61]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7039 - accuracy: 0.5234 - 101ms/epoch - 375us/step
Loss: 0.703933835029602, Accuracy: 0.5233819484710693

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [62]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [142]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [143]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 6

In [144]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (hidden_nodes_layer1 + 12) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

35

In [145]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [146]:
# First hidden layer
nn_A1.add(
    Dense(
        units=hidden_nodes_layer1_A1,
        activation='tanh',
        input_dim=number_input_features
    )
)


# Output layer
nn_A1.add(
    Dense(
        units=1,
        activation='leaky_relu'
    )
)


# Check the structure of the model
nn_A1.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_34 (Dense)            (None, 35)                4095

 dense_35 (Dense)            (None, 1)                 36

=================================================================
Total params: 4,131
Trainable params: 4,131
Non-trainable params: 0
_________________________________________________________________

In [147]:
# Compile the Sequential model
nn_A1.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [148]:
# Fit the model using 50 epochs and the training data
fit_model_A1 =nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 305us/step - loss: 2.7456 - accuracy: 0.5060
Epoch 2/50
804/804 [==============================] - 0s 292us/step - loss: 1.4463 - accuracy: 0.5102
Epoch 3/50
804/804 [==============================] - 0s 294us/step - loss: 1.3575 - accuracy: 0.5106
Epoch 4/50
804/804 [==============================] - 0s 306us/step - loss: 1.1411 - accuracy: 0.5119
Epoch 5/50
804/804 [==============================] - 0s 304us/step - loss: 1.1192 - accuracy: 0.5149
Epoch 6/50
804/804 [==============================] - 0s 301us/step - loss: 1.1162 - accuracy: 0.5178
Epoch 7/50
804/804 [==============================] - 0s 293us/step - loss: 1.1140 - accuracy: 0.5136
Epoch 8/50
804/804 [==============================] - 0s 301us/step - loss: 1.1046 - accuracy: 0.5150
Epoch 9/50
804/804 [==============================] - 0s 305us/step - loss: 1.0875 - accuracy: 0.5182
Epoch 10/50
804/804 [==============================] - 0s 303us/step - loss: 1.0875 - accuracy: 0.5143
Epoch 11/50
804/804 [==============================] - 0s 295us/step - loss: 1.0870 - accuracy: 0.5162
Epoch 12/50
804/804 [==============================] - 0s 295us/step - loss: 1.1099 - accuracy: 0.5140
Epoch 13/50
804/804 [==============================] - 0s 294us/step - loss: 1.1430 - accuracy: 0.5171
Epoch 14/50
804/804 [==============================] - 0s 292us/step - loss: 1.1309 - accuracy: 0.5183
Epoch 15/50
804/804 [==============================] - 0s 294us/step - loss: 1.1260 - accuracy: 0.5134
Epoch 16/50
804/804 [==============================] - 0s 299us/step - loss: 1.1156 - accuracy: 0.5225
Epoch 17/50
804/804 [==============================] - 0s 304us/step - loss: 1.0969 - accuracy: 0.5209
Epoch 18/50
804/804 [==============================] - 0s 296us/step - loss: 1.0927 - accuracy: 0.5211
Epoch 19/50
804/804 [==============================] - 0s 294us/step - loss: 1.0911 - accuracy: 0.5206
Epoch 20/50
804/804 [==============================] - 0s 294us/step - loss: 1.0825 - accuracy: 0.5248
Epoch 21/50
804/804 [==============================] - 0s 296us/step - loss: 1.0761 - accuracy: 0.5196
Epoch 22/50
804/804 [==============================] - 0s 310us/step - loss: 1.0786 - accuracy: 0.5215
Epoch 23/50
804/804 [==============================] - 0s 298us/step - loss: 1.0671 - accuracy: 0.5232
Epoch 24/50
804/804 [==============================] - 0s 294us/step - loss: 1.0591 - accuracy: 0.5264
Epoch 25/50
804/804 [==============================] - 0s 293us/step - loss: 1.0579 - accuracy: 0.5243
Epoch 26/50
804/804 [==============================] - 0s 294us/step - loss: 0.9318 - accuracy: 0.5222
Epoch 27/50
804/804 [==============================] - 0s 294us/step - loss: 0.8257 - accuracy: 0.5279
Epoch 28/50
804/804 [==============================] - 0s 294us/step - loss: 0.8251 - accuracy: 0.5324
Epoch 29/50
804/804 [==============================] - 0s 296us/step - loss: 0.8245 - accuracy: 0.5280
Epoch 30/50
804/804 [==============================] - 0s 296us/step - loss: 0.8244 - accuracy: 0.5290
Epoch 31/50
804/804 [==============================] - 0s 295us/step - loss: 0.8247 - accuracy: 0.5283
Epoch 32/50
804/804 [==============================] - 0s 295us/step - loss: 0.8241 - accuracy: 0.5275
Epoch 33/50
804/804 [==============================] - 0s 295us/step - loss: 0.8247 - accuracy: 0.5274
Epoch 34/50
804/804 [==============================] - 0s 298us/step - loss: 0.8208 - accuracy: 0.5278
Epoch 35/50
804/804 [==============================] - 0s 304us/step - loss: 0.8169 - accuracy: 0.5298
Epoch 36/50
804/804 [==============================] - 0s 298us/step - loss: 0.8162 - accuracy: 0.5301
Epoch 37/50
804/804 [==============================] - 0s 298us/step - loss: 0.8165 - accuracy: 0.5305
Epoch 38/50
804/804 [==============================] - 0s 298us/step - loss: 0.8165 - accuracy: 0.5310
Epoch 39/50
804/804 [==============================] - 0s 302us/step - loss: 0.8160 - accuracy: 0.5295
Epoch 40/50
804/804 [==============================] - 0s 304us/step - loss: 0.8159 - accuracy: 0.5274
Epoch 41/50
804/804 [==============================] - 0s 299us/step - loss: 0.8157 - accuracy: 0.5321
Epoch 42/50
804/804 [==============================] - 0s 301us/step - loss: 0.8164 - accuracy: 0.5278
Epoch 43/50
804/804 [==============================] - 0s 296us/step - loss: 0.8158 - accuracy: 0.5307
Epoch 44/50
804/804 [==============================] - 0s 297us/step - loss: 0.8154 - accuracy: 0.5316
Epoch 45/50
804/804 [==============================] - 0s 296us/step - loss: 0.8154 - accuracy: 0.5319
Epoch 46/50
804/804 [==============================] - 0s 312us/step - loss: 0.8154 - accuracy: 0.5329
Epoch 47/50
804/804 [==============================] - 0s 300us/step - loss: 0.8149 - accuracy: 0.5335
Epoch 48/50
804/804 [==============================] - 0s 299us/step - loss: 0.8153 - accuracy: 0.5319
Epoch 49/50
804/804 [==============================] - 0s 298us/step - loss: 0.8146 - accuracy: 0.5384
Epoch 50/50
804/804 [==============================] - 0s 323us/step - loss: 0.8148 - accuracy: 0.5342

In [157]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.8403 - accuracy: 0.5122 - 68ms/epoch - 253us/step
Loss: 0.8403332829475403, Accuracy: 0.512186586856842

#### Alternative Model 2

In [158]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [159]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 8

In [160]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (hidden_nodes_layer1_A1 + 9) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

22

In [161]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [162]:
# First hidden layer
nn_A2.add(
    Dense(
        units=hidden_nodes_layer1_A2,
        activation='tanh',
        input_dim=number_input_features
    )
)
# Output layer
nn_A2.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

# Check the structure of the model
nn_A2.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_38 (Dense)            (None, 22)                2574

 dense_39 (Dense)            (None, 1)                 23

=================================================================
Total params: 2,597
Trainable params: 2,597
Non-trainable params: 0
_________________________________________________________________

In [163]:
# Compile the model
nn_A2.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [164]:
# Fit the model
fit_model_A2 =nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 297us/step - loss: 0.7006 - accuracy: 0.5172
Epoch 2/50
804/804 [==============================] - 0s 284us/step - loss: 0.6929 - accuracy: 0.5276
Epoch 3/50
804/804 [==============================] - 0s 284us/step - loss: 0.6920 - accuracy: 0.5261
Epoch 4/50
804/804 [==============================] - 0s 287us/step - loss: 0.6913 - accuracy: 0.5308
Epoch 5/50
804/804 [==============================] - 0s 291us/step - loss: 0.6907 - accuracy: 0.5319
Epoch 6/50
804/804 [==============================] - 0s 297us/step - loss: 0.6901 - accuracy: 0.5330
Epoch 7/50
804/804 [==============================] - 0s 299us/step - loss: 0.6901 - accuracy: 0.5317
Epoch 8/50
804/804 [==============================] - 0s 294us/step - loss: 0.6894 - accuracy: 0.5345
Epoch 9/50
804/804 [==============================] - 0s 288us/step - loss: 0.6894 - accuracy: 0.5318
Epoch 10/50
804/804 [==============================] - 0s 300us/step - loss: 0.6892 - accuracy: 0.5348
Epoch 11/50
804/804 [==============================] - 0s 290us/step - loss: 0.6890 - accuracy: 0.5344
Epoch 12/50
804/804 [==============================] - 0s 288us/step - loss: 0.6884 - accuracy: 0.5375
Epoch 13/50
804/804 [==============================] - 0s 305us/step - loss: 0.6888 - accuracy: 0.5365
Epoch 14/50
804/804 [==============================] - 0s 288us/step - loss: 0.6885 - accuracy: 0.5377
Epoch 15/50
804/804 [==============================] - 0s 283us/step - loss: 0.6885 - accuracy: 0.5376
Epoch 16/50
804/804 [==============================] - 0s 287us/step - loss: 0.6883 - accuracy: 0.5396
Epoch 17/50
804/804 [==============================] - 0s 293us/step - loss: 0.6881 - accuracy: 0.5378
Epoch 18/50
804/804 [==============================] - 0s 285us/step - loss: 0.6878 - accuracy: 0.5394
Epoch 19/50
804/804 [==============================] - 0s 286us/step - loss: 0.6878 - accuracy: 0.5388
Epoch 20/50
804/804 [==============================] - 0s 286us/step - loss: 0.6876 - accuracy: 0.5404
Epoch 21/50
804/804 [==============================] - 0s 288us/step - loss: 0.6877 - accuracy: 0.5356
Epoch 22/50
804/804 [==============================] - 0s 286us/step - loss: 0.6874 - accuracy: 0.5408
Epoch 23/50
804/804 [==============================] - 0s 290us/step - loss: 0.6872 - accuracy: 0.5406
Epoch 24/50
804/804 [==============================] - 0s 301us/step - loss: 0.6874 - accuracy: 0.5395
Epoch 25/50
804/804 [==============================] - 0s 288us/step - loss: 0.6870 - accuracy: 0.5386
Epoch 26/50
804/804 [==============================] - 0s 288us/step - loss: 0.6869 - accuracy: 0.5430
Epoch 27/50
804/804 [==============================] - 0s 287us/step - loss: 0.6867 - accuracy: 0.5414
Epoch 28/50
804/804 [==============================] - 0s 285us/step - loss: 0.6869 - accuracy: 0.5381
Epoch 29/50
804/804 [==============================] - 0s 290us/step - loss: 0.6867 - accuracy: 0.5400
Epoch 30/50
804/804 [==============================] - 0s 285us/step - loss: 0.6863 - accuracy: 0.5421
Epoch 31/50
804/804 [==============================] - 0s 288us/step - loss: 0.6863 - accuracy: 0.5442
Epoch 32/50
804/804 [==============================] - 0s 287us/step - loss: 0.6861 - accuracy: 0.5455
Epoch 33/50
804/804 [==============================] - 0s 287us/step - loss: 0.6864 - accuracy: 0.5411
Epoch 34/50
804/804 [==============================] - 0s 295us/step - loss: 0.6860 - accuracy: 0.5409
Epoch 35/50
804/804 [==============================] - 0s 303us/step - loss: 0.6859 - accuracy: 0.5435
Epoch 36/50
804/804 [==============================] - 0s 294us/step - loss: 0.6858 - accuracy: 0.5439
Epoch 37/50
804/804 [==============================] - 0s 289us/step - loss: 0.6855 - accuracy: 0.5451
Epoch 38/50
804/804 [==============================] - 0s 288us/step - loss: 0.6860 - accuracy: 0.5418
Epoch 39/50
804/804 [==============================] - 0s 287us/step - loss: 0.6854 - accuracy: 0.5446
Epoch 40/50
804/804 [==============================] - 0s 290us/step - loss: 0.6854 - accuracy: 0.5438
Epoch 41/50
804/804 [==============================] - 0s 287us/step - loss: 0.6853 - accuracy: 0.5423
Epoch 42/50
804/804 [==============================] - 0s 287us/step - loss: 0.6853 - accuracy: 0.5457
Epoch 43/50
804/804 [==============================] - 0s 291us/step - loss: 0.6852 - accuracy: 0.5446
Epoch 44/50
804/804 [==============================] - 0s 286us/step - loss: 0.6849 - accuracy: 0.5464
Epoch 45/50
804/804 [==============================] - 0s 289us/step - loss: 0.6851 - accuracy: 0.5450
Epoch 46/50
804/804 [==============================] - 0s 292us/step - loss: 0.6849 - accuracy: 0.5443
Epoch 47/50
804/804 [==============================] - 0s 299us/step - loss: 0.6849 - accuracy: 0.5449
Epoch 48/50
804/804 [==============================] - 0s 297us/step - loss: 0.6848 - accuracy: 0.5455
Epoch 49/50
804/804 [==============================] - 0s 299us/step - loss: 0.6846 - accuracy: 0.5435
Epoch 50/50
804/804 [==============================] - 0s 293us/step - loss: 0.6845 - accuracy: 0.5451

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [165]:
model_loss, model_accuracy = nn_A2.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6975 - accuracy: 0.5186 - 93ms/epoch - 347us/step
Loss: 0.6974882483482361, Accuracy: 0.518600583076477

In [167]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.7039 - accuracy: 0.5234 - 66ms/epoch - 246us/step
Loss: 0.703933835029602, Accuracy: 0.5233819484710693

In [169]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.8403 - accuracy: 0.5122 - 69ms/epoch - 256us/step
Loss: 0.8403332829475403, Accuracy: 0.512186586856842

In [170]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6975 - accuracy: 0.5186 - 69ms/epoch - 256us/step
Loss: 0.6974882483482361, Accuracy: 0.518600583076477

### Step 3: Save each of your alternative models as an HDF5 file.

In [171]:
# Set the file path for the first alternative model
file_path = file_path = Path('Resources/AlphabetSoup_1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [173]:
# Set the file path for the second alternative model
file_path = file_path = Path('Resources/AlphabetSoup_2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)